__pycache__
.junit_report.xml
.idea

.mypy_cache
.dmypy.json
.pytest_cache

*.env
!ci.env
node_modules
.coverage
coverage.xml
coverage.json

backend/static

/process-compose.yml

.venv-tools
.tools
.ruff_cache
.venv
